<!DOCTYPE html>
<html>
  <head>
    <link type="text/css" rel="stylesheet" href="/stylesheets/main.css">
    <title>CS 253 Basic Blog</title>
  </head>

  <body>
      <a href="/unit3/basicblog" class="main-title">
          CS 253 Basic Blog
      </a>
    
    {% for blogpost in blogposts %}
      <div class="post">
        <div class="post-heading">
          <div class="post-title">{{blogpost.subject}}</div>
          <div class="post-date">{{blogpost.created.date()}}</div>
        </div>
        <div class="post-content">{{blogpost.content}}</div>
      </div>
    {% endfor %}
  </body>
</html>
