<!DOCTYPE html>
<html>
  <head>
    <link type="text/css" rel="stylesheet" href="/stylesheets/main.css">
    <title>CS253 Basic Blog</title>
  </head>

  <body>
    <a href="/unit3/basicblog" class="main-title">
      CS 253 Basic Blog
    </a>
    <h2>New Post</h2>
    <form method="post">
      <label>
        <div class="label">Subject</div>
        <input type="text" name="subject" value="{{ subject }}">
      </label>
      <label>
        <div class="label">Blog</div>
        <textarea name="content">{{ content }}</textarea>
      </label>
      <label>
        <div class="error">{{ error }}</div>
      </label>
      <input type="submit">
    </form>
  </body>
</html>
